.navIcon{
    padding-right:3%;
    font-size: large;
}
.Icon{
    margin-right: 3%;
    margin-left: 5%;
    height: 30px;
}
.IconPadding{
    margin-left: 10px;
    margin-right: 20px;
}
.header{
    text-align: center;
    padding-bottom: 10%;
    letter-spacing:2px;
}
.defaultBtn{
    background-color: #4e399c;
}
.padding{
    padding-top: 25%;
}
.pad{
    padding-top: 5%;
}
.foot{
    padding-top: 5%;
    padding-bottom: 5%;
}
.cartQuantity {
    padding-top: 0px !important;
    letter-spacing: 1px;
}
.orderQuantity{
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: #4a4e5f;
    border: 1px solid #363b4e;
    border-radius: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
}